header {
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

body {
  background-color: gray;
}
article {
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}
article {
  color: black;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;

}

footer {
  text-align: center;
  font size: 22px;
  font-family: 'Courier New', Courier, monospace;
}